<div [ngClass]="(isSticky) ? 'sticky-footer' :  'relative-footer' " >
    <div [ngClass]="(isMobile|async) ?  'footer-item-mobile' : 'footer-item-web' " 
    [routerLink]="['/about']" >About</div>
    <!-- <div [ngClass]="(isMobile|async) ?  'footer-item-mobile' : 'footer-item-web' " 
    [routerLink]="['/agreement']" >Terms of Usage</div>
    <div [ngClass]="(isMobile|async) ?  'footer-item-mobile' : 'footer-item-web' " 
    [routerLink]="['/privacy']" >Privacy Policy</div>
    <div [ngClass]="(isMobile|async) ?  'footer-item-mobile' : 'footer-item-web' " 
    [routerLink]="['/cookie']" >Cookie Policy</div>-->
    <div [ngClass]="(isMobile|async) ?  'footer-item-mobile' : 'footer-item-web' " 
    [routerLink]="['/contact']" >Contact</div>

</div>

