<mat-card [ngClass]="(isMobile|async) ? 'card-mobile' : 'card-web' " >
    <div>Password Reset</div>
    
    @if(!isInitError) {
        <div [formGroup]="form" class="row-mobile" >
            <app-kpasswords 
            formControlName="password"
            [markTouched]="markAllTouched"
            [isMobile]=" true " ></app-kpasswords>
         </div>
    }
    @if(isError){
        <div class="error-message">
            {{message}}
        </div>
    }
    @if(isInfo) {
        <div class="info-message">
            {{message}}
        </div>
        <mat-card-actions>
            <button mat-flat-button color="accent" (click)="onLogin()" >Go to Login</button>
        </mat-card-actions>
    }
    @if(!isError && !isInfo){
        <mat-card-actions>
            <button mat-flat-button color="accent" (click)="onSubmit()" >Submit</button>
        </mat-card-actions>
    }
    
</mat-card>
