<div style="width: 20px; height:20px;"  matTooltip="{{percent}}% Verified" >
    <svg  viewBox="0 0 30 30" >    
        <circle cx="15" cy="15" r="11" fill="none" stroke="#c1bac5" stroke-width="1"></circle>
        
        <circle  cx="15" cy="15" r="12"  
        fill="none" 
        stroke="#86b300" 
        stroke-width="3"
        [attr.stroke-dasharray]="percentileArc"
        transform="rotate(-90) translate(-30)"
        ></circle>
        @if(isFullyVerified){
            <circle
            cx="15" cy="15" r="12"  
            fill="none" 
            stroke="#86b300" 
            stroke-width="3"
            >
            </circle>
        }
       
        <polygon points="8,16 15,22 22,7 15,16 11,13 8,16" [attr.fill]="tickColor" />
    </svg> 
</div>

