<svg style="width: 100%;" viewBox="0 0 900 70">
    <text x="20" y="20" font-size="16" [attr.fill]="(isDarkMode|async) ? '#ffffff':'#000000' " >Hours</text>
    @for(item of displayMileage; track item){
        <line [attr.x1]="item.x1" [attr.y1]="item.y1" [attr.x2]="item.x2" [attr.y2]="item.y2" stroke-width="10" [attr.stroke]="item.color"></line>
        <line [attr.x1]="item.vX1" [attr.y1]="item.vY1" [attr.y2]="item.vY2" [attr.x2]="item.vX2" stroke-width="1" [attr.stroke]="item.color"></line>
        <text [attr.x]="item.textX" 
        [attr.y]="item.textY" [attr.text-anchor]="item.anchor" 
        [attr.fill]="(isDarkMode|async) ? '#ffffff':'#000000' "
        font-size="11">{{item['name']+ " "  + item['hours']}}</text>
    }
</svg>

