<mat-card  
[formGroup]="contactForm" 
[ngClass]="(isMobile|async) ? 'card-mobile' : 'card-web' ">
<div  style="display: flex; flex-direction: row; justify-content: space-between;">
    <div style="font-size: x-large; color: #21baf1; line-height: 100%; padding-left: 50px; padding-top: 50px;">Contact</div>
    <mat-icon
    [routerLink]="['']"
    class="material-icons-outlined" 
    style="cursor: pointer;">
    close
    </mat-icon>
</div>
<div style="padding: 50px;">
    <div style="padding-bottom: 20px;">
        Thank you for contacting us. Please leave us your details and a message. <br> We will get back to you as soon as possible.
    </div>
    <div>
        <mat-form-field style="width: 100%;">
            <mat-label>Your Email</mat-label>
            <input matInput formControlName="email" type="email">
        </mat-form-field>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <mat-form-field [style.width]="(isMobile|async) ? '100%' : '48%' ">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="first_name" type="text">
        </mat-form-field>
        <mat-form-field [style.width]="(isMobile|async) ? '100%' : '48%' ">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="last_name" type="text">
        </mat-form-field>
    </div>
    <mat-form-field style="width: 100%;">
        <mat-label>Message</mat-label>
        <textarea matInput rows="5" formControlName="message" type="text"></textarea>
    </mat-form-field>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <button mat-flat-button color="primary">Submit</button>
    </div>
    <div>
        <h2>Address</h2>
        <div>
            Vera Sandbergs All&eacute; 5B, <br>
            411 33 G&ouml;teborg, <br>
            Sweden
        </div>
    </div>
</div>

</mat-card>
