<svg viewBox="0 0 440 125" >
    @for(level of levels; track level; let i = $index) {
        @if(i<=3){
            <g>
                @if(legendCount[level.id]>0){
                    <text [attr.x]="25+(blockWidth*level.xCoefficient)" [attr.y]="22+level.yOffset" 
                    [attr.fill]="(isDarkMode|async) ? '#ffffff':'#000000' "
                    font-size="24" text-anchor="start" fill="#aaaaaa">{{legendCount[level.id]}}</text>   
                }
                       
                <rect [attr.x]="(blockWidth*level.xCoefficient)" 
                [attr.y]="24+level.yOffset" rx="5" ry="5" width="24" height="19" [attr.fill]="level.color"></rect>
                <text [attr.x]="12+(blockWidth*level.xCoefficient)" [attr.y]="38+level.yOffset" 
                    font-size="11" text-anchor="middle" fill="white">{{level.id}}</text>           
                <text [attr.x]="28+(blockWidth*level.xCoefficient)" [attr.y]="33+level.yOffset" 
                    [attr.fill]="(isDarkMode|async) ? '#ffffff':'#000000' "
                    font-size="11" text-anchor="start" fill="black">{{level.name}}</text>
                <text [attr.x]="29+(blockWidth*level.xCoefficient)" [attr.y]="43+level.yOffset" 
                    [attr.fill]="(isDarkMode|async) ? '#ffffff':'#000000' "
                    font-size="8" text-anchor="start" fill="black">{{level.hours + " + Hours"}}</text>    
            </g>
        } @else {
            <g>
                @if(legendCount[level.id]>0){
                    <text [attr.x]="25+(blockWidth*level.xCoefficient)" [attr.y]="22+level.yOffset + gap" 
                        [attr.fill]="(isDarkMode|async) ? '#ffffff':'#000000' "
                        font-size="24" text-anchor="start" fill="#aaaaaa">{{legendCount[level.id]}}</text>  
                }
                         
                <rect [attr.x]="(blockWidth*level.xCoefficient)" 
                [attr.y]="24+level.yOffset+gap" rx="5" ry="5" width="24" height="19" [attr.fill]="level.color"></rect>
                <text [attr.x]="12+(blockWidth*level.xCoefficient)" [attr.y]="38+level.yOffset+gap" 
                    font-size="11" text-anchor="middle" fill="white">{{level.id}}</text>           
                <text [attr.x]="28+(blockWidth*level.xCoefficient)" [attr.y]="33+level.yOffset+gap" 
                    [attr.fill]="(isDarkMode|async) ? '#ffffff':'#000000' "
                    font-size="11" text-anchor="start" fill="black">{{level.name}}</text>
                <text [attr.x]="29+(blockWidth*level.xCoefficient)" [attr.y]="43+level.yOffset+gap" 
                    [attr.fill]="(isDarkMode|async) ? '#ffffff':'#000000' "
                    font-size="8" text-anchor="start" fill="black">{{level.hours + " + Hours"}}</text>    
            </g>
        }

    }
</svg>

