<div class="k-pcontainer">
    <div  style="display: flex; flex-direction: row; justify-content: space-between; height: 40px; line-height: 40px; padding-left: 20px;">
        <div class="k-ltitle" >{{titles[category]}}</div>
        <div (click)="loadKarmaAdd()" style="padding-top: 5px; padding-right: 5px; cursor: pointer;" ><mat-icon >add</mat-icon></div>
    </div>  
    <mat-divider></mat-divider>
    @if(activateChildren){
        <div style="padding:10px; padding-left: 20px; " >
            @for(item of lifeActivities.slice(0, 5); track item ;let i = $index){
                <div (mouseover)="show(i)" (mouseleave)="hide(i)" style="display:flex; flex-direction:row" >
                    @if(category===1){
                        <div style="display: flex; flex-direction: column; padding-bottom: 10px; padding-right: 3px; width: 90%;" > 
                            <div style="display:flex; flex-direction:row; gap: 10px">
                                <div 
                                style="width: 20px; height:20px; line-height: 20px; 
                                border: 1px solid #eeeeee; text-align: center; 
                                border-radius: 5px;
                                background-color: #cec7d1 ;
                                "> E </div>
                                <div>
                                    <div  style="font-size:small; line-height: 100%;">
                                        {{item.university['name'] + ', '}} {{item.country['name']}}
                                    </div>
                                    <div style="font-size: x-small; line-height: 100%;">
                                        {{item.degree['name']}} {{ '-'+item.field_of_study['name'] }}  
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @else {
                        <div style="display: flex; flex-direction: column; line-height: 20px; padding-bottom: 10px; padding-right: 3px; width: 90%;"> 
                            <div style="font-size:small; line-height: 100%;">
                                {{item.title}}
                            </div>
                            <div style="font-size: x-small; line-height: 100%;">
                                {{item.specification.name}} 
                            </div>
                        </div>
                    }
                    <div style="width: 20%;">
                        @if(display(i)){
                            <div style="display: flex; flex-direction: row; justify-content: end; align-items: center;">
                                <!-- <div (click)="loadKarmaPost(item)" style="width:35px; padding-right: 3px;"><kpost></kpost></div> -->
                                <mat-icon (click)="loadKarmaEdit(item)" style="color: #999999; cursor: pointer;font-size: medium;">edit</mat-icon>
                            </div>
                        }
                    </div>
                </div>
        }
         
        </div>
    }

</div>  


