
@if(isLogin){
    <mat-card [formGroup]="loginForm" [ngClass]="(isMobile|async) ? 'card-mobile' : 'card-small-web' " >
        <mat-card-header>
            <mat-card-title style="font-size: x-large; margin-bottom: 30px;">Sign in</mat-card-title>
          </mat-card-header>
        <mat-card-content style="display: flex; flex-direction: column;">
            <mat-form-field >
                <mat-label>Email</mat-label>
                <input 
                (focus)="clear()"
                matInput 
                formControlName="email"
                type="email" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                matInput
                (focus)="clear()"
                formControlName="password"
                 [type]="hidePassword ? 'password' : 'text' " required>
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div style="margin-bottom: 20px;">
                <button mat-button (click)="loadRecovery()" > Forgot Password?</button>        
            </div>
            @if(isFormError) {
                <app-kform-errors [form]="loginForm"></app-kform-errors>
            }
            @if(isError) {
                <div class="error-message">
                    {{message}}
                </div>
            }
            <button (click)="submitCredentials()" mat-flat-button color="accent" style="width: 100px;">
                Sign in
            </button>
            <div style="margin-top: 20px;">
                New to Karma Vitae? 
                <button 
                mat-button
                color="primary"
                [routerLink]="['/join']" 
                >Join</button>
            </div>
        </mat-card-content>
      
    </mat-card>
    
}
@else {
    <app-krecover [email]="email" ></app-krecover>
}
