
<mat-card [formGroup]="loginForm" [ngClass]="(isMobile|async) ? 'card-mobile' : 'card-small-web' " >
    <mat-card-header>
        <mat-card-title style="font-size: x-large; margin-bottom: 30px;">Sign in</mat-card-title>
      </mat-card-header>
    <mat-card-content style="display: flex; flex-direction: column;">
        <mat-form-field >
            <mat-label>Email</mat-label>
            <input 
            (focus)="clear()"
            matInput 
            formControlName="email"
            type="email" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input
            matInput
            (focus)="clear()"
            formControlName="password"
             type="text" required>
        </mat-form-field>
        @if(isFormError) {
            <!-- <app-kform-errors [form]="loginForm"></app-kform-errors> -->
        }
        @if(isError) {
            <div class="error-message">
                {{message}}
            </div>
        }
    </mat-card-content>
    <mat-card-actions>
        <button (click)="submitCredentials()" mat-flat-button color="primary" style="width: 100px;">
            Sign in
        </button>
    </mat-card-actions>
    <!-- <mat-card-footer>
        New to Karma Vitae? <a>Join</a>
    </mat-card-footer> -->
</mat-card>
