<div class="k-pcontainer">
    <div class="k-pelements">{{title}}</div>
    <div class="k-pelements">
        <div class="k-prow">
            @for(proficiency of proficiencies.slice(0, 5); track proficiency){
                <app-kstatus style="width: 13% ;" [hours]="proficiency.hours['total']"></app-kstatus>
                <div class="proficiency-title"> {{proficiency.name}} </div>
                <app-kendorsment style="padding-right: 3px;" [endorsementCount]="proficiency.endorsements" ></app-kendorsment>
                <app-kverified style="padding-right: 3px;"[percent]="getPercent(proficiency)"></app-kverified>
            }
        </div>       
    </div>
</div>

