.k-pelements{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.proficiency-title{
    padding-left: 2px;
    font-weight: light;
    font-size: small;
    line-height: 100%;
    width: 70%;
}

.k-pcontainer{
    display: flex;
    flex-direction: column;
}

.k-prow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
}

