@if(article) {
    <div  style="display: flex; flex-direction: row; justify-content: space-between;">
        <h1> {{article.title}} </h1>
        <mat-icon
        [routerLink]="['']"
        class="material-icons-outlined" 
        style="cursor: pointer;">
        close
        </mat-icon>
    </div>
    <img [src]="article.img" alt="" [style.width]="(isMobile|async) ? '300px' : '800px' " >
    <h2>{{article.quote}}</h2> 
    @for(item of article.content; track item) {
        @switch (item.type) {
            @case (1) {
                <h2> {{item.text}} </h2>
            }
            @case (2) {
                <ul>
                    @for(element of item.list; track element){
                        <li> {{element}} </li>
                    }
                </ul>

            }
            @default {
                <p> {{item.text}} </p>
            }
        }

    }
    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 50px;" [style.width]="(isMobile|async) ?  '100%' : '260px' " >
        <div style="display: flex; flex-direction: column; align-items: center; width:auto;">
            <img src="assets/images/kv.png" [style.width]="(isMobile|async) ?  '80px' : '120px' " >
            <div [style.font-size]="(isMobile|async) ?  'small' : 'large' " >
            let your karma define you
            </div>
        </div>
    </div>  
}

