$black: #000000;
$white: #ffffff;
$kv-primary: #6f0bff;
$kv-accent: #21BAF1;
$kv-warn: #F15921;

$kv-brand-primary: (
  50: #eee2ff,
  100: #d4b6ff,
  200: #b785ff,
  300: #9a54ff,
  400: #8530ff,
  500: #6f0bff,
  600: #670aff,
  700: #5c08ff,
  800: #5206ff,
  900: #4003ff,
  A100: #ffffff,
  A200: #f5f2ff,
  A400: #cbbfff,
  A700: #b7a6ff,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $white,
    400: $white,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white
  )
);

$kv-brand-accent: (
  50: #E4F7FD,
  100: #BCEAFB,
  200: #90DDF8,
  300: #64CFF5,
  400: #42C4F3,
  500: $kv-accent,
  600: #1DB3EF,
  700: #18ABED,
  800: #14A3EB,
  900: #0B94E7,
  A100: #FFFFFF, 
  A200: #DEF1FF, 
  A400: #ABDCFF, 
  A700: #91D2FF, 
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $white,
    400: $white,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white
  )
);

$kv-brand-warn: (
  50: #FDEBE4,
  100: #FBCDBC,
  200: #F8AC90,
  300: #F58B64,
  400: #F37242,
  500: $kv-warn,
  600: #EF511D,
  700: #ED4818,
  800: #EB3E14,
  900: #E72E0B,
  A100: #FFFFFF, 
  A200: #FFE2DE ,
  A400: #FFB5AB ,
  A700: #FF9F91 ,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white
  )
);

$kv-light-grey: (
  50: #faf9fb,
100: #f2f1f4,
200: #eae8ed,
300: #e2dfe6,
400: #dbd8e0,
500: #d5d1db,
600: #d0ccd7,
700: #cac6d2,
800: #c4c0cd,
900: #bab5c4,
A100: #ffffff,
A200: #ffffff,
A400: #ffffff,
A700: #fefeff,
contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $black,
    600: $black,
    700: $black,
    800: $black,
    900: $black,
    A100: $black,
    A200: $black,
    A400: $black,
    A700: $black,
  )
);

$kv-grey-palette: (
  50: #edebf0,
  100: #d2ceda,
  200: #b5adc1,
  300: #978ca8,
  400: #807395,
  500: #6a5a82,
  600: #62527a,
  700: #57486f,
  800: #4d3f65,
  900: #3c2e52,
  A100: #c39fff,
  A200: #a36cff,
  A400: #8239ff,
  A700: #721fff,
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $black,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
    A100: $black,
    A200: $black,
    A400: $black,
    A700: $white,
  )
);
