
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@use "sass:map";
@import './colors.scss';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$client-primary: mat.define-palette(mat.$indigo-palette);
$client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.define-light-theme((
  color: (
    primary: $client-primary,
    accent: $client-accent,
    warn: $client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-theme);






$kv-toolbar-light-primary: mat.define-palette($kv-light-grey, 50 );
$kv-toolbar-light-accent: mat.define-palette($kv-light-grey, 200);
$kv-toolbar-light-warn: mat.define-palette($kv-brand-warn, 400);
$kv-toolbar-light-theme: mat.define-light-theme((
  color: (
    primary: $kv-toolbar-light-primary,
    accent: $kv-toolbar-light-accent,
    warn: $kv-toolbar-light-warn,
  )
));

$kv-toolbar-dark-primary: mat.define-palette($kv-grey-palette,700);
$kv-toolbar-dark-accent: mat.define-palette($kv-grey-palette, 900);
$kv-toolbar-dark-warn: mat.define-palette($kv-brand-warn, 400);
$kv-toolbar-dark-theme: mat.define-light-theme((
  color: (
    primary: $kv-toolbar-dark-primary,
    accent: $kv-toolbar-dark-accent,
    warn: $kv-toolbar-dark-warn,
  )
));

$custom-dark-theme-background: (
  status-bar: black,
  app-bar:    map.get(mat.$grey-palette, 900),
  background: #28364a,
  hover:      rgba(white, 0.04),
  card:       #232233,
  dialog:     map.get(mat.$grey-palette, 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map.get(mat.$grey-palette, 800),
  // focused-button: $light-focused,
  selected-button: map.get(mat.$grey-palette, 900),
  selected-disabled-button: map.get(mat.$grey-palette, 800),
  disabled-button-toggle: black,
  unselected-chip: map.get(mat.$grey-palette, 700),
  disabled-list-option: #28364a,
  tooltip: #616161,
);

// $custom-dark-theme-foreground: (
//   base:              white,
//   divider:           $light-dividers,
//   dividers:          $light-dividers,
//   disabled:          $light-disabled-text,
//   disabled-button:   rgba(white, 0.3),
//   disabled-text:     $light-disabled-text,
//   elevation:         black,
//   hint-text:         $light-disabled-text,
//   secondary-text:    $light-secondary-text,
//   icon:              white,
//   icons:             white,
//   text:              white,
//   slider-min:        white,
//   slider-off:        rgba(white, 0.3),
//   slider-off-active: rgba(white, 0.3),
// );

$client-light-primary: mat.define-palette($kv-brand-primary);
$client-light-accent: mat.define-palette($kv-brand-accent);
$client-light-warn: mat.define-palette($kv-brand-warn);
$client-light-theme: mat.define-light-theme((
  color: (
    primary: $client-light-primary,
    accent: $client-light-accent,
    warn: $client-light-warn,
  )
));

$kv-card-background-dark: #232233;
$client-dark-primary: mat.define-palette($kv-grey-palette, 200);
$client-dark-accent: mat.define-palette($kv-brand-accent, 700);
$client-dark-warn: mat.define-palette($kv-brand-warn);
$client-dark-theme: mat.define-dark-theme((
  color: (
    primary: $client-dark-primary,
    accent: $client-dark-accent,
    warn: $client-dark-warn,
  )
));

$client-dark-theme: map.set($client-dark-theme, 'color', 'background', $custom-dark-theme-background);
$client-dark-theme: map.set($client-dark-theme, 'background', $custom-dark-theme-background);

// $custom-dark-theme: map.set($custom-dark-theme, 'color', 'foreground', $custom-dark-theme-foreground);
// $custom-dark-theme: map.set($custom-dark-theme, 'foreground', $custom-dark-theme-foreground);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.light-theme{
  @include mat.all-component-colors($client-light-theme);
  @include mat.toolbar-color($kv-toolbar-light-theme)
}

.dark-theme{
  @include mat.all-component-colors($client-dark-theme);
  @include mat.toolbar-color($kv-toolbar-dark-theme);
}


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; }


body.light-theme { margin: 0; font-family: 'Poppins', sans-serif; background-color: #d5d1db; color: #000; }
body.dark-theme { margin: 0; font-family: 'Poppins', sans-serif; background-color: #000000; color: #fff;}

.card-web {
    margin-top: 50px;
    width: 900px;
    display: flex;
    flex-direction: column;
    margin-left:auto;
    margin-right: auto;
    padding: 45px;
}

.card-mobile {
    width:auto;
    display:flex;
    flex-direction: column;
    padding: 10px;
}

.kflex-col {
  display: flex;
  flex-direction: column;
}

.kflex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-small-web {
  margin-top: 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-left:auto;
  margin-right: auto;
  padding: 15px;
}

.card-title {
 font-size: x-large; 
 margin-bottom: 30px;
}


h1 {
  font-size: xx-large;
}

h2 {
  color: #21baf1;
  font-size: large;
}

.error-message {
  color: #F15921 ;
  padding-left: 10px;
  font-size: small;
}

.fieldset-mobile{
  border: 1px solid #eeeeee;
  border-radius: 10px;
}
.fieldset-web{
  width: 74%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #eeeeee;
}


.row-mobile {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 10px;
}

.row-web {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}