<div [formGroup]="form"  [ngClass]="isMobile ? 'row-mobile' : 'row-web' ">
    <mat-form-field [style.width]="isMobile ? '100%' : '49%'">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        @if(form.get('password')?.hasError('required')){
            <mat-error>Password Required!</mat-error>
        }
        @if(form.get('password')?.hasError('minlength')){
            <mat-error>Password should be longer than 8 characters!</mat-error>
        }
        @if(form.get('password')?.hasError('maxlength')){
            <mat-error> Password can't be longer than 16 characters!</mat-error>

        }
    </mat-form-field>
    <mat-form-field [style.width]="isMobile ? '100%' : '49%'">
        <mat-label>Confirm Password</mat-label>
        <input matInput 
        formControlName="confirm_password" 
        (blur)="onPasswordCompletion()"
        type="password">
        @if(form.get('confirm_password')?.hasError('required')) {
            <mat-error>Passwordis confirmation is required!</mat-error>
        }
        @if(form.get('confirm_password')?.hasError('password_mismatch')) {
            <mat-error > The passwords don't match!</mat-error>
        }
    </mat-form-field>
</div>
