
@if(!isHideMenu) {
    <div [ngClass]="(isMobile|async) ? 'toolbox-mobile' : 'toolbox-web' ">
        <fieldset  [ngClass]="(isMobile|async) ? 'fieldset-mobile' : 'fieldset-web' ">
            <legend>Search</legend>
            <mat-form-field [style.width]="(isMobile|async) ? '100%':'30%' ">
                <mat-label>Search by</mat-label>
                <mat-select
                    [formControl]="selectControl"
                >
                    @for (searchBy of searchColumns|keyvalue ; track searchBy) {
                    <mat-option [value]="searchBy.value">{{searchBy.value}}</mat-option>
                    }
                </mat-select>
                </mat-form-field>
            <mat-form-field [style.width]="(isMobile|async) ? '100%':'68%' " >
                <mat-label>Please enter {{selectControl.value}}</mat-label>
                <input type="text"
                    placeholder=""
                    aria-label=""
                    matInput
                    [formControl]="searchControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    @for(option of options|async; track option){
                        <mat-option  [value]="option" (click)="openSelected(option)" > {{option}} </mat-option>
                    }
                
                </mat-autocomplete>
            </mat-form-field>
        </fieldset>
        <div>
            <button mat-raised-button color="accent" (click)="create()" style="line-height:1dvh" >Create {{karmaObject}}</button>
        </div>
    </div>
}
<mat-table [dataSource]="dataSource ">
    @for (item of displayMeta|keyvalue; track $index;) {
        <ng-container [matColumnDef]="item.key">
            <mat-header-cell *matHeaderCellDef>{{item.value}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row[item.key]}}</mat-cell>
        </ng-container>
    }
    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row 
    [ngClass]="(isDarkMode|async) ? 'table-row-dark' : 'table-row-light' "
    (click)="loadItem(row)"
    *matRowDef="let row; columns: displayColumns"></mat-row>
</mat-table>

